<md-card class="example-card">

    <md-card-content>
        <md-list>
            <md-list-item>
                <h4 md-line>Valuation</h4>
                <p md-line>
                    {{calculations.valuation | currency:'USD':true:'1.0-0'}}
                </p>
            </md-list-item>
            <md-list-item>
                <h4 md-line>Building Permit</h4>
                <p md-line>
                    {{calculations.bldgPermit | currency:'USD':true:'1.0-0'}}
                </p>
            </md-list-item>
            <md-list-item>
                <h4 md-line>Plan Review Fee</h4>
                <p md-line>
                    {{calculations.reviewFee | currency:'USD':true:'1.0-0'}}
                </p>
            </md-list-item>
            <md-list-item>
                <h4 md-line>Electrical Permit</h4>
                <p md-line>
                    {{calculations.elecPermit | currency:'USD':true:'1.0-0'}}
                </p>
            </md-list-item>
            <md-list-item>
                <h4 md-line>Plumbing Permit</h4>
                <p md-line>
                    {{calculations.plumPermit | currency:'USD':true:'1.0-0'}}
                </p>
            </md-list-item>
            <md-list-item>
                <h4 md-line>Mechanical Permit</h4>
                <p md-line>
                    {{calculations.mechPermit | currency:'USD':true:'1.0-0'}}
                </p>
            </md-list-item>
            <md-list-item>
                <h4 md-line>Total Permit</h4>
                <p md-line>
                    {{calculations.totPermit | currency:'USD':true:'1.0-0'}}
                </p>
            </md-list-item>
        </md-list>
    </md-card-content>
    <md-card-actions style="margin:0 auto;">

    </md-card-actions>
</md-card>