<md-card class="example-card">

    <md-card-content>
        <md-list>
            <md-list-item>
                <h4 md-line>Valuation</h4>
                <p md-line *ngIf="calculations.valuation > 0">
                    {{calculations.valuation | currency:'USD':true:'1.0-0'}}
                </p>
                <p md-line *ngIf="calculations.valuation === 0">
                    --
                </p>                
            </md-list-item>
            <md-list-item>
                <h4 md-line>Building Permit</h4>
                <p md-line *ngIf="calculations.valuation > 0">
                    {{calculations.building | currency:'USD':true:'1.0-0'}}
                </p>
                <p md-line *ngIf="calculations.valuation === 0">
                    --
                </p>                   
            </md-list-item>
            <md-list-item>
                <h4 md-line>Plan Review Fee</h4>
                <p md-line *ngIf="calculations.valuation > 0">
                    {{calculations.review.value | currency:'USD':true:'1.0-0'}}
                </p>
                <p md-line *ngIf="calculations.valuation === 0">
                    --
                </p>                   
            </md-list-item>
            <md-list-item>
                <h4 md-line>Electrical Permit</h4>
                <p md-line *ngIf="calculations.valuation > 0">
                    {{calculations.electrical.value | currency:'USD':true:'1.0-0'}}
                </p>
                <p md-line *ngIf="calculations.valuation === 0">
                    --
                </p>                   
            </md-list-item>
            <md-list-item>
                <h4 md-line>Plumbing Permit</h4>
                <p md-line *ngIf="calculations.valuation > 0">
                    {{calculations.plumbing.value | currency:'USD':true:'1.0-0'}}
                </p>
                <p md-line *ngIf="calculations.valuation === 0">
                    --
                </p>                   
            </md-list-item>
            <md-list-item>
                <h4 md-line>Mechanical Permit</h4>
                <p md-line *ngIf="calculations.valuation > 0">
                    {{calculations.mechanical.value | currency:'USD':true:'1.0-0'}}
                </p>
                <p md-line *ngIf="calculations.valuation === 0">
                    --
                </p>                   
            </md-list-item>
            <md-list-item>
                <h4 md-line>Total Permit</h4>
                <p md-line *ngIf="calculations.valuation > 0">
                    {{calculations.building + calculations.review.value + calculations.electrical.value + calculations.plumbing.value + calculations.mechanical.value | currency:'USD':true:'1.0-0'}}
                </p>
                <p md-line *ngIf="calculations.valuation === 0">
                    --
                </p>                   
            </md-list-item>
        </md-list>
    </md-card-content>
    <md-card-actions style="margin:0 auto;">

    </md-card-actions>
</md-card>