{{cardIndex}}
<ng-container *ngFor="let card of cards; let i = index">
<md-card *ngIf="i === cardIndex" class="example-card">
  <md-card-header>
    <div md-card-avatar class="example-header-image"></div>
    <md-card-title>Card {{card.cardindex}}</md-card-title>
  </md-card-header>
  <md-card-content>
    <form>
      <md-list>
      <md-list-item>
      <md-select placeholder="Building Type" [(ngModel)]="card.building" name="building">
        <md-option *ngFor="let building of iccbvd" [value]="building">
          {{building.group}}
        </md-option>
      </md-select>
      </md-list-item>
      <md-list-item>
      <md-select placeholder="Contruction Type" [(ngModel)]="card.construction" name="construction" (ngModelChange)="calcValuation(card.construction.value)">
        <md-option *ngFor="let value of card.building.values" [value]="value">
          {{value.key}}
        </md-option>
      </md-select>
      </md-list-item>
      <md-list-item>
      <md-select placeholder="Contruction Scope" [(ngModel)]="card.constructScope" name="scope" (ngModelChange)="calcValuation(card.construction.value)">
        <md-option *ngFor="let scope of scopes" [value]="scope" >
          {{scope.name}}
        </md-option>
      </md-select>
      </md-list-item>
      <md-list-item>
      <md-input-container>
        <input mdInput  maxlength="6" placeholder="Square Feet" [(ngModel)]="card.squareFeet" name="squareFeet" (ngModelChange)="calcValuation(card.construction.value)">
      </md-input-container> 
      </md-list-item>
      </md-list>    
      {{card.valuation}}  
    </form>
  </md-card-content>
  <md-card-actions style="margin:0 auto;">
    <button md-icon-button (click)="getPreviousCard()" *ngIf="cards.length > 1 && cardIndex > 0"><md-icon>keyboard_arrow_left</md-icon></button>
    <button md-button (click)="addCard()">ADD</button>
    <button md-icon-button (click)="getNextCard()" *ngIf="cards.length > 1 && cardIndex != cards.length - 1"><md-icon>keyboard_arrow_right</md-icon></button>
  </md-card-actions>
</md-card>
</ng-container>
<calcuator-output [cards]="cards" [cardindex]="cardIndex"></calcuator-output>
{{cards | json}}