md-card {
    margin: 10px;
}

md-select {
    width: 100%;
}

md-select{
    margin-bottom: 10px;
}

md-input-container {
    width: 100%;
}

md-card-header button {
  margin-left: auto;
}

md-card-header {
    width: 100%;
}